.todo{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: clamp(10px, 1.5vw, 1.5rem);
    padding: 10px 20%
}

.btn-delete{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    /* background: red; */
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}