.todo{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20%
}

.btn-delete{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* background: red; */
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}