.todo{
    width: 500px;
    margin: 0 auto;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-delete{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}